#![enable(implicit_some)]
Container(
    transform: (
        id: "ui_background_container",
        x: 0.0,
        y: 0.0,
        z: 100.0,
    ),
    background: SolidColor(0.05, 0.05, 0.05, 1.0),
    children: [
        Label(
            transform: (
                id: "ui_loading_label",
                anchor: BottomMiddle,
                pivot: Middle,
                x: 0.0,
                y: 100.0,
                z: 101.0,
                width: 125.0,
                height: 75.0,
            ),
            text: (
                text: "Loading...",
                color: (0.9, 0.9, 0.9, 1.0),
                font_size: 38.0,
                font: File("resources/PT_Sans-Web-Regular.ttf", ("TTF", ())),
                align: MiddleLeft,
            ),
        ),
    ],
)
