.idea
target

# Generated game assets
output
assets_packer/input

# Local config files
client_logging_config.toml
server_logging_config.toml

# RenderDoc
*.cap

# MacOS
.DS_Store

# thread_profiler artifacts
thread_profile.json

# ImGUI
imgui.ini
