(
    entities: [
        (
            parent: None,
            data: None,
        ),
        (
            parent: Some(0),
            data: Some((
                name_tag: (
                    name: "hero_torso",
                ),
                sprite_scene: (
                    sheet: Some(Sheet(
                        texture: File("resources/atlas.png", ("IMAGE", (
                            format: None,
                            repr: Srgb,
                            kind: D2,
                            sampler_info: (
                                min_filter: Nearest,
                                mag_filter: Nearest,
                                mip_filter: Nearest,
                                wrap_mode: (Tile, Tile, Tile),
                                lod_bias: (0),
                                lod_range: (
                                    start: (0),
                                    end: (8000),
                                ),
                                comparison: None,
                                border: (0),
                                anisotropic: Off,
                            ),
                            generate_mips: false,
                            premultiply_alpha: true,
                        ))),
                        sprites: [
                            List((
                                texture_width: 1009,
                                texture_height: 89,
                                sprites: [
                                    (
                                        x: 0,
                                        y: 0,
                                        width: 51,
                                        height: 46,
                                        offsets: Some((0.5, -9)),
                                        flip_horizontal: false,
                                        flip_vertical: false,
                                    ),
                                    (
                                        x: 53,
                                        y: 0,
                                        width: 50,
                                        height: 46,
                                        offsets: Some((0, -9)),
                                        flip_horizontal: false,
                                        flip_vertical: false,
                                    ),
                                    (
                                        x: 105,
                                        y: 0,
                                        width: 50,
                                        height: 46,
                                        offsets: Some((0, -9)),
                                        flip_horizontal: false,
                                        flip_vertical: false,
                                    ),
                                    (
                                        x: 157,
                                        y: 0,
                                        width: 50,
                                        height: 44,
                                        offsets: Some((0, -8)),
                                        flip_horizontal: false,
                                        flip_vertical: false,
                                    ),
                                    (
                                        x: 209,
                                        y: 0,
                                        width: 50,
                                        height: 44,
                                        offsets: Some((0, -8)),
                                        flip_horizontal: false,
                                        flip_vertical: false,
                                    ),
                                    (
                                        x: 261,
                                        y: 0,
                                        width: 50,
                                        height: 40,
                                        offsets: Some((0, -6)),
                                        flip_horizontal: false,
                                        flip_vertical: false,
                                    ),
                                    (
                                        x: 313,
                                        y: 0,
                                        width: 50,
                                        height: 40,
                                        offsets: Some((0, -6)),
                                        flip_horizontal: false,
                                        flip_vertical: false,
                                    ),
                                    (
                                        x: 365,
                                        y: 0,
                                        width: 50,
                                        height: 40,
                                        offsets: Some((0, -6)),
                                        flip_horizontal: false,
                                        flip_vertical: false,
                                    ),
                                    (
                                        x: 417,
                                        y: 0,
                                        width: 50,
                                        height: 40,
                                        offsets: Some((0, -6)),
                                        flip_horizontal: false,
                                        flip_vertical: false,
                                    ),
                                    (
                                        x: 469,
                                        y: 0,
                                        width: 50,
                                        height: 44,
                                        offsets: Some((0, -8)),
                                        flip_horizontal: false,
                                        flip_vertical: false,
                                    ),
                                    (
                                        x: 521,
                                        y: 0,
                                        width: 50,
                                        height: 46,
                                        offsets: Some((0, -9)),
                                        flip_horizontal: false,
                                        flip_vertical: false,
                                    ),
                                    (
                                        x: 573,
                                        y: 0,
                                        width: 53,
                                        height: 46,
                                        offsets: Some((-0.5, -9)),
                                        flip_horizontal: false,
                                        flip_vertical: false,
                                    ),
                                    (
                                        x: 628,
                                        y: 0,
                                        width: 53,
                                        height: 47,
                                        offsets: Some((-0.5, -9.5)),
                                        flip_horizontal: false,
                                        flip_vertical: false,
                                    ),
                                    (
                                        x: 683,
                                        y: 0,
                                        width: 53,
                                        height: 47,
                                        offsets: Some((-0.5, -9.5)),
                                        flip_horizontal: false,
                                        flip_vertical: false,
                                    ),
                                    (
                                        x: 738,
                                        y: 0,
                                        width: 52,
                                        height: 48,
                                        offsets: Some((0, -10)),
                                        flip_horizontal: false,
                                        flip_vertical: false,
                                    ),
                                    (
                                        x: 792,
                                        y: 0,
                                        width: 52,
                                        height: 48,
                                        offsets: Some((0, -10)),
                                        flip_horizontal: false,
                                        flip_vertical: false,
                                    ),
                                    (
                                        x: 846,
                                        y: 0,
                                        width: 53,
                                        height: 48,
                                        offsets: Some((-0.5, -10)),
                                        flip_horizontal: false,
                                        flip_vertical: false,
                                    ),
                                    (
                                        x: 901,
                                        y: 0,
                                        width: 53,
                                        height: 48,
                                        offsets: Some((-0.5, -10)),
                                        flip_horizontal: false,
                                        flip_vertical: false,
                                    ),
                                    (
                                        x: 956,
                                        y: 0,
                                        width: 53,
                                        height: 47,
                                        offsets: Some((-0.5, -9.5)),
                                        flip_horizontal: false,
                                        flip_vertical: false,
                                    ),
                                    (
                                        x: 261,
                                        y: 42,
                                        width: 51,
                                        height: 47,
                                        offsets: Some((0.5, -9.5)),
                                        flip_horizontal: false,
                                        flip_vertical: false,
                                    ),
                                    (
                                        x: 314,
                                        y: 42,
                                        width: 30,
                                        height: 20,
                                        offsets: Some((0, 1)),
                                        flip_horizontal: false,
                                        flip_vertical: false,
                                    ),
                                    (
                                        x: 346,
                                        y: 42,
                                        width: 29,
                                        height: 22,
                                        offsets: Some((0.5, 0)),
                                        flip_horizontal: false,
                                        flip_vertical: false,
                                    ),
                                    (
                                        x: 377,
                                        y: 42,
                                        width: 28,
                                        height: 26,
                                        offsets: Some((1, 0)),
                                        flip_horizontal: false,
                                        flip_vertical: false,
                                    ),
                                    (
                                        x: 407,
                                        y: 42,
                                        width: 27,
                                        height: 31,
                                        offsets: Some((0.5, 0.5)),
                                        flip_horizontal: false,
                                        flip_vertical: false,
                                    ),
                                    (
                                        x: 436,
                                        y: 42,
                                        width: 27,
                                        height: 36,
                                        offsets: Some((0.5, 1)),
                                        flip_horizontal: false,
                                        flip_vertical: false,
                                    ),
                                    (
                                        x: 465,
                                        y: 46,
                                        width: 27,
                                        height: 41,
                                        offsets: Some((0.5, 1.5)),
                                        flip_horizontal: false,
                                        flip_vertical: false,
                                    ),
                                    (
                                        x: 157,
                                        y: 46,
                                        width: 27,
                                        height: 36,
                                        offsets: Some((0.5, 1)),
                                        flip_horizontal: false,
                                        flip_vertical: false,
                                    ),
                                    (
                                        x: 186,
                                        y: 46,
                                        width: 27,
                                        height: 31,
                                        offsets: Some((0.5, 0.5)),
                                        flip_horizontal: false,
                                        flip_vertical: false,
                                    ),
                                    (
                                        x: 215,
                                        y: 46,
                                        width: 28,
                                        height: 26,
                                        offsets: Some((1, 0)),
                                        flip_horizontal: false,
                                        flip_vertical: false,
                                    ),
                                    (
                                        x: 494,
                                        y: 48,
                                        width: 29,
                                        height: 22,
                                        offsets: Some((0.5, 0)),
                                        flip_horizontal: false,
                                        flip_vertical: false,
                                    ),
                                    (
                                        x: 525,
                                        y: 48,
                                        width: 30,
                                        height: 20,
                                        offsets: Some((0, 1)),
                                        flip_horizontal: false,
                                        flip_vertical: false,
                                    ),
                                    (
                                        x: 557,
                                        y: 48,
                                        width: 29,
                                        height: 22,
                                        offsets: Some((-0.5, 0)),
                                        flip_horizontal: false,
                                        flip_vertical: false,
                                    ),
                                    (
                                        x: 588,
                                        y: 48,
                                        width: 28,
                                        height: 26,
                                        offsets: Some((-1, 0)),
                                        flip_horizontal: false,
                                        flip_vertical: false,
                                    ),
                                    (
                                        x: 0,
                                        y: 48,
                                        width: 26,
                                        height: 31,
                                        offsets: Some((-1, 0.5)),
                                        flip_horizontal: false,
                                        flip_vertical: false,
                                    ),
                                    (
                                        x: 28,
                                        y: 48,
                                        width: 26,
                                        height: 36,
                                        offsets: Some((-1, 1)),
                                        flip_horizontal: false,
                                        flip_vertical: false,
                                    ),
                                    (
                                        x: 56,
                                        y: 48,
                                        width: 26,
                                        height: 41,
                                        offsets: Some((-1, 1.5)),
                                        flip_horizontal: false,
                                        flip_vertical: false,
                                    ),
                                    (
                                        x: 84,
                                        y: 48,
                                        width: 26,
                                        height: 36,
                                        offsets: Some((-1, 1)),
                                        flip_horizontal: false,
                                        flip_vertical: false,
                                    ),
                                    (
                                        x: 112,
                                        y: 48,
                                        width: 26,
                                        height: 31,
                                        offsets: Some((-1, 0.5)),
                                        flip_horizontal: false,
                                        flip_vertical: false,
                                    ),
                                    (
                                        x: 618,
                                        y: 49,
                                        width: 28,
                                        height: 26,
                                        offsets: Some((-1, 0)),
                                        flip_horizontal: false,
                                        flip_vertical: false,
                                    ),
                                    (
                                        x: 956,
                                        y: 49,
                                        width: 29,
                                        height: 22,
                                        offsets: Some((-0.5, 0)),
                                        flip_horizontal: false,
                                        flip_vertical: false,
                                    ),
                                ],
                            )),
                        ],
                        name: None,
                    )),
                    render: Some((
                        sheet: Some(0),
                        sprite_number: 0,
                    )),
                    transform: Some((
                        translation: (0, 0, 0),
                        rotation: (0, 0, 0, 1),
                        scale: (1, 1, 1),
                    )),
                ),
                animation_set: (
                    animations: [
                        (Walk, (
                            samplers: [
                                (0, SpriteIndex, (
                                    input: [
                                        0,
                                        0.05,
                                        0.1,
                                        0.15,
                                        0.2,
                                        0.25,
                                        0.3,
                                        0.35,
                                        0.4,
                                        0.45000002,
                                        0.5,
                                        0.55,
                                        0.6,
                                        0.65000004,
                                        0.7,
                                        0.75,
                                        0.8,
                                        0.85,
                                        0.90000004,
                                        0.95,
                                    ],
                                    output: [
                                        0,
                                        1,
                                        2,
                                        3,
                                        4,
                                        5,
                                        6,
                                        7,
                                        8,
                                        9,
                                        10,
                                        11,
                                        12,
                                        13,
                                        14,
                                        15,
                                        16,
                                        17,
                                        18,
                                        19,
                                    ],
                                    function: Step,
                                )),
                            ],
                        )),
                    ],
                ),
            )),
        ),
        (
            parent: Some(0),
            data: Some((
                name_tag: (
                    name: "hero_legs",
                ),
                sprite_scene: (
                    sheet: None,
                    render: Some((
                        sheet: Some(0),
                        sprite_number: 0,
                    )),
                    transform: Some((
                        translation: (0, 0, -0.1),
                        rotation: (0, 0, 0, 1),
                        scale: (1, 1, 1),
                    )),
                ),
                animation_set: (
                    animations: [
                        (Walk, (
                            samplers: [
                                (0, SpriteIndex, (
                                    input: [
                                        0,
                                        0.05,
                                        0.1,
                                        0.15,
                                        0.2,
                                        0.25,
                                        0.3,
                                        0.35,
                                        0.4,
                                        0.45000002,
                                        0.5,
                                        0.55,
                                        0.6,
                                        0.65000004,
                                        0.7,
                                        0.75,
                                        0.8,
                                        0.85,
                                        0.90000004,
                                        0.95,
                                    ],
                                    output: [
                                        20,
                                        21,
                                        22,
                                        23,
                                        24,
                                        25,
                                        26,
                                        27,
                                        28,
                                        29,
                                        30,
                                        31,
                                        32,
                                        33,
                                        34,
                                        35,
                                        36,
                                        37,
                                        38,
                                        39,
                                    ],
                                    function: Step,
                                )),
                            ],
                        )),
                    ],
                ),
            )),
        ),
    ],
)