(
    entities: [
        (
            parent: None,
            data: Some((
                name: (
                    name: "hero_torso",
                ),
                sprite_scene: (
                    sheet: Some(Sheet(
                        texture: File("D:\\Programming\\hello_amethyst\\assets_packer\\output\\atlas.png", Png, (
                            sampler: (
                                filter: Trilinear,
                                wrap_mode: (Clamp, Clamp, Clamp),
                                lod_bias: (0),
                                lod_range: ((-8000), (8000)),
                                comparison: None,
                                border: (0),
                            ),
                            mip_levels: 1,
                            dynamic: false,
                            format: R8_G8_B8_A8,
                            size: None,
                            channel: Srgb,
                        )),
                        sprites: [
                            List((
                                texture_width: 1009,
                                texture_height: 89,
                                sprites: [
                                    (
                                        x: 314,
                                        y: 42,
                                        width: 30,
                                        height: 20,
                                        offsets: Some((16, 31)),
                                    ),
                                    (
                                        x: 525,
                                        y: 48,
                                        width: 30,
                                        height: 20,
                                        offsets: Some((16, 31)),
                                    ),
                                    (
                                        x: 436,
                                        y: 42,
                                        width: 27,
                                        height: 36,
                                        offsets: Some((17, 23)),
                                    ),
                                    (
                                        x: 157,
                                        y: 0,
                                        width: 50,
                                        height: 44,
                                        offsets: Some((6, 10)),
                                    ),
                                    (
                                        x: 901,
                                        y: 0,
                                        width: 53,
                                        height: 48,
                                        offsets: Some((5, 6)),
                                    ),
                                    (
                                        x: 313,
                                        y: 0,
                                        width: 50,
                                        height: 40,
                                        offsets: Some((6, 14)),
                                    ),
                                    (
                                        x: 365,
                                        y: 0,
                                        width: 50,
                                        height: 40,
                                        offsets: Some((6, 14)),
                                    ),
                                    (
                                        x: 261,
                                        y: 42,
                                        width: 51,
                                        height: 47,
                                        offsets: Some((5, 7)),
                                    ),
                                    (
                                        x: 346,
                                        y: 42,
                                        width: 29,
                                        height: 22,
                                        offsets: Some((16, 29)),
                                    ),
                                    (
                                        x: 53,
                                        y: 0,
                                        width: 50,
                                        height: 46,
                                        offsets: Some((6, 8)),
                                    ),
                                    (
                                        x: 157,
                                        y: 46,
                                        width: 27,
                                        height: 36,
                                        offsets: Some((17, 23)),
                                    ),
                                    (
                                        x: 56,
                                        y: 48,
                                        width: 26,
                                        height: 41,
                                        offsets: Some((19, 21)),
                                    ),
                                    (
                                        x: 112,
                                        y: 48,
                                        width: 26,
                                        height: 31,
                                        offsets: Some((19, 25)),
                                    ),
                                    (
                                        x: 0,
                                        y: 48,
                                        width: 26,
                                        height: 31,
                                        offsets: Some((19, 25)),
                                    ),
                                    (
                                        x: 28,
                                        y: 48,
                                        width: 26,
                                        height: 36,
                                        offsets: Some((19, 23)),
                                    ),
                                    (
                                        x: 792,
                                        y: 0,
                                        width: 52,
                                        height: 48,
                                        offsets: Some((5, 6)),
                                    ),
                                    (
                                        x: 469,
                                        y: 0,
                                        width: 50,
                                        height: 44,
                                        offsets: Some((6, 10)),
                                    ),
                                    (
                                        x: 417,
                                        y: 0,
                                        width: 50,
                                        height: 40,
                                        offsets: Some((6, 14)),
                                    ),
                                    (
                                        x: 494,
                                        y: 48,
                                        width: 29,
                                        height: 22,
                                        offsets: Some((16, 29)),
                                    ),
                                    (
                                        x: 186,
                                        y: 46,
                                        width: 27,
                                        height: 31,
                                        offsets: Some((17, 25)),
                                    ),
                                    (
                                        x: 465,
                                        y: 46,
                                        width: 27,
                                        height: 41,
                                        offsets: Some((17, 21)),
                                    ),
                                    (
                                        x: 521,
                                        y: 0,
                                        width: 50,
                                        height: 46,
                                        offsets: Some((6, 8)),
                                    ),
                                    (
                                        x: 84,
                                        y: 48,
                                        width: 26,
                                        height: 36,
                                        offsets: Some((19, 23)),
                                    ),
                                    (
                                        x: 105,
                                        y: 0,
                                        width: 50,
                                        height: 46,
                                        offsets: Some((6, 8)),
                                    ),
                                    (
                                        x: 738,
                                        y: 0,
                                        width: 52,
                                        height: 48,
                                        offsets: Some((5, 6)),
                                    ),
                                    (
                                        x: 261,
                                        y: 0,
                                        width: 50,
                                        height: 40,
                                        offsets: Some((6, 14)),
                                    ),
                                    (
                                        x: 557,
                                        y: 48,
                                        width: 29,
                                        height: 22,
                                        offsets: Some((17, 29)),
                                    ),
                                    (
                                        x: 588,
                                        y: 48,
                                        width: 28,
                                        height: 26,
                                        offsets: Some((18, 27)),
                                    ),
                                    (
                                        x: 407,
                                        y: 42,
                                        width: 27,
                                        height: 31,
                                        offsets: Some((17, 25)),
                                    ),
                                    (
                                        x: 618,
                                        y: 49,
                                        width: 28,
                                        height: 26,
                                        offsets: Some((18, 27)),
                                    ),
                                    (
                                        x: 846,
                                        y: 0,
                                        width: 53,
                                        height: 48,
                                        offsets: Some((5, 6)),
                                    ),
                                    (
                                        x: 377,
                                        y: 42,
                                        width: 28,
                                        height: 26,
                                        offsets: Some((16, 27)),
                                    ),
                                    (
                                        x: 628,
                                        y: 0,
                                        width: 53,
                                        height: 47,
                                        offsets: Some((5, 7)),
                                    ),
                                    (
                                        x: 215,
                                        y: 46,
                                        width: 28,
                                        height: 26,
                                        offsets: Some((16, 27)),
                                    ),
                                    (
                                        x: 209,
                                        y: 0,
                                        width: 50,
                                        height: 44,
                                        offsets: Some((6, 10)),
                                    ),
                                    (
                                        x: 0,
                                        y: 0,
                                        width: 51,
                                        height: 46,
                                        offsets: Some((5, 8)),
                                    ),
                                    (
                                        x: 956,
                                        y: 49,
                                        width: 29,
                                        height: 22,
                                        offsets: Some((17, 29)),
                                    ),
                                    (
                                        x: 683,
                                        y: 0,
                                        width: 53,
                                        height: 47,
                                        offsets: Some((5, 7)),
                                    ),
                                    (
                                        x: 956,
                                        y: 0,
                                        width: 53,
                                        height: 47,
                                        offsets: Some((5, 7)),
                                    ),
                                    (
                                        x: 573,
                                        y: 0,
                                        width: 53,
                                        height: 46,
                                        offsets: Some((5, 8)),
                                    ),
                                ],
                            )),
                        ],
                        name: None,
                    )),
                    render: Some((
                        sheet: 0,
                        sprite_number: 0,
                    )),
                    transform: None,
                ),
                animation_set: (
                    animations: [
                        (Walk, (
                            samplers: [
                                (0, SpriteIndex, (
                                    input: [
                                        0,
                                        0.05,
                                        0.1,
                                        0.15,
                                        0.2,
                                        0.25,
                                        0.3,
                                        0.35,
                                        0.4,
                                        0.45000002,
                                        0.5,
                                        0.55,
                                        0.6,
                                        0.65000004,
                                        0.7,
                                        0.75,
                                        0.8,
                                        0.85,
                                        0.90000004,
                                        0.95,
                                    ],
                                    output: [
                                        35,
                                        9,
                                        23,
                                        3,
                                        34,
                                        25,
                                        5,
                                        6,
                                        17,
                                        16,
                                        21,
                                        39,
                                        32,
                                        37,
                                        24,
                                        15,
                                        30,
                                        4,
                                        38,
                                        7,
                                    ],
                                    function: Step,
                                )),
                            ],
                        )),
                    ],
                ),
            )),
        ),
        (
            parent: None,
            data: Some((
                name: (
                    name: "hero_legs",
                ),
                sprite_scene: (
                    sheet: None,
                    render: Some((
                        sheet: 0,
                        sprite_number: 0,
                    )),
                    transform: None,
                ),
                animation_set: (
                    animations: [
                        (Walk, (
                            samplers: [
                                (0, SpriteIndex, (
                                    input: [
                                        0,
                                        0.05,
                                        0.1,
                                        0.15,
                                        0.2,
                                        0.25,
                                        0.3,
                                        0.35,
                                        0.4,
                                        0.45000002,
                                        0.5,
                                        0.55,
                                        0.6,
                                        0.65000004,
                                        0.7,
                                        0.75,
                                        0.8,
                                        0.85,
                                        0.90000004,
                                        0.95,
                                    ],
                                    output: [
                                        0,
                                        8,
                                        31,
                                        28,
                                        2,
                                        20,
                                        10,
                                        19,
                                        33,
                                        18,
                                        1,
                                        26,
                                        27,
                                        13,
                                        14,
                                        11,
                                        22,
                                        12,
                                        29,
                                        36,
                                    ],
                                    function: Step,
                                )),
                            ],
                        )),
                    ],
                ),
            )),
        ),
    ],
)