(
    axes: {
        "vertical": Emulated(pos: Key(W), neg: Key(S)),
        "horizontal": Emulated(pos: Key(D), neg: Key(A)),
    },
    actions: {
        // Shortcuts for debug info settings.
        "toggle_healthbars": [[Key(Slash)]],
    },
)
