(
    entities: [
        (
            parent: None,
            data: None,
        ),
        (
            parent: Some(0),
            data: Some((
                name_tag: (
                    name: "monster_body",
                ),
                sprite_scene: (
                    sheet: None,
                    render: Some((
                        sheet: Some("atlas"),
                        sprite_number: 0,
                    )),
                    transform: Some((
                        translation: (0, 0, 0),
                        rotation: (0, 0, 0, 1),
                        scale: (1, 1, 1),
                    )),
                ),
                animation_set: (
                    animations: [
                        (Walk, (
                            samplers: [
                                (0, SpriteIndex, (
                                    input: [
                                        0,
                                        0.016666668,
                                        0.033333335,
                                        0.050000004,
                                        0.06666667,
                                        0.083333336,
                                        0.10000001,
                                        0.116666675,
                                        0.13333334,
                                        0.15,
                                        0.16666667,
                                        0.18333334,
                                        0.20000002,
                                        0.21666668,
                                        0.23333335,
                                        0.25,
                                        0.26666668,
                                        0.28333336,
                                        0.3,
                                        0.3166667,
                                        0.33333334,
                                        0.35000002,
                                        0.36666667,
                                        0.38333336,
                                    ],
                                    output: [
                                        60,
                                        61,
                                        62,
                                        63,
                                        64,
                                        65,
                                        66,
                                        67,
                                        68,
                                        69,
                                        70,
                                        71,
                                        72,
                                        73,
                                        74,
                                        75,
                                        76,
                                        77,
                                        78,
                                        79,
                                        80,
                                        81,
                                        82,
                                        83,
                                    ],
                                    function: Step,
                                )),
                            ],
                        )),
                        (Attack, (
                            samplers: [
                                (0, SpriteIndex, (
                                    input: [
                                        0,
                                        0.016666668,
                                        0.033333335,
                                        0.050000004,
                                        0.06666667,
                                        0.083333336,
                                        0.10000001,
                                        0.116666675,
                                        0.13333334,
                                        0.15,
                                        0.16666667,
                                        0.18333334,
                                        0.20000002,
                                        0.21666668,
                                        0.23333335,
                                        0.25,
                                        0.26666668,
                                        0.28333336,
                                        0.3,
                                        0.3166667,
                                        0.33333334,
                                        0.35000002,
                                        0.36666667,
                                        0.38333336,
                                        0.40000004,
                                        0.4166667,
                                        0.43333337,
                                        0.45000002,
                                        0.4666667,
                                        0.48333335,
                                    ],
                                    output: [
                                        0,
                                        1,
                                        2,
                                        3,
                                        4,
                                        5,
                                        6,
                                        7,
                                        8,
                                        9,
                                        10,
                                        11,
                                        12,
                                        13,
                                        14,
                                        15,
                                        16,
                                        17,
                                        18,
                                        19,
                                        20,
                                        21,
                                        22,
                                        23,
                                        24,
                                        25,
                                        26,
                                        27,
                                        28,
                                        29,
                                    ],
                                    function: Step,
                                )),
                            ],
                        )),
                        (Death, (
                            samplers: [
                                (0, SpriteIndex, (
                                    input: [
                                        0,
                                        0.016666668,
                                        0.033333335,
                                        0.050000004,
                                        0.06666667,
                                        0.083333336,
                                        0.10000001,
                                        0.116666675,
                                        0.13333334,
                                        0.15,
                                        0.16666667,
                                        0.18333334,
                                        0.20000002,
                                        0.21666668,
                                        0.23333335,
                                        0.25,
                                        0.26666668,
                                        0.28333336,
                                        0.3,
                                        0.3166667,
                                        0.33333334,
                                        0.35000002,
                                        0.36666667,
                                        0.38333336,
                                        0.40000004,
                                        0.4166667,
                                        0.43333337,
                                        0.45000002,
                                        0.4666667,
                                        0.48333335,
                                    ],
                                    output: [
                                        30,
                                        31,
                                        32,
                                        33,
                                        34,
                                        35,
                                        36,
                                        37,
                                        38,
                                        39,
                                        40,
                                        41,
                                        42,
                                        43,
                                        44,
                                        45,
                                        46,
                                        47,
                                        48,
                                        49,
                                        50,
                                        51,
                                        52,
                                        53,
                                        54,
                                        55,
                                        56,
                                        57,
                                        58,
                                        59,
                                    ],
                                    function: Step,
                                )),
                            ],
                        )),
                    ],
                ),
            )),
        ),
    ],
)