(
    entities: [
        (
            parent: None,
            data: None,
        ),
        (
            parent: Some(0),
            data: Some((
                name_tag: (
                    name: "mage_torso",
                ),
                sprite_scene: (
                    sheet: None,
                    render: Some((
                        sheet: Some("atlas"),
                        sprite_number: 0,
                    )),
                    transform: Some((
                        translation: (0, 0, 0),
                        rotation: (0, 0, 0, 1),
                        scale: (1, 1, 1),
                    )),
                ),
                animation_set: (
                    animations: [
                        (Walk, (
                            samplers: [
                                (0, SpriteIndex, (
                                    input: [
                                        0,
                                        0.016666668,
                                        0.033333335,
                                        0.050000004,
                                        0.06666667,
                                        0.083333336,
                                        0.10000001,
                                        0.116666675,
                                        0.13333334,
                                        0.15,
                                        0.16666667,
                                        0.18333334,
                                        0.20000002,
                                        0.21666668,
                                        0.23333335,
                                        0.25,
                                        0.26666668,
                                        0.28333336,
                                        0.3,
                                        0.3166667,
                                        0.33333334,
                                        0.35000002,
                                        0.36666667,
                                        0.38333336,
                                        0.40000004,
                                        0.4166667,
                                        0.43333337,
                                        0.45000002,
                                        0.4666667,
                                        0.48333335,
                                        0.5,
                                        0.5166667,
                                        0.53333336,
                                        0.55,
                                        0.5666667,
                                        0.5833334,
                                        0.6,
                                        0.6166667,
                                        0.6333334,
                                        0.65000004,
                                        0.6666667,
                                        0.6833334,
                                        0.70000005,
                                        0.7166667,
                                        0.73333335,
                                        0.75000006,
                                        0.7666667,
                                        0.78333336,
                                    ],
                                    output: [
                                        192,
                                        193,
                                        194,
                                        195,
                                        196,
                                        197,
                                        198,
                                        199,
                                        200,
                                        201,
                                        202,
                                        203,
                                        204,
                                        205,
                                        206,
                                        207,
                                        208,
                                        209,
                                        210,
                                        211,
                                        212,
                                        213,
                                        214,
                                        215,
                                        216,
                                        217,
                                        218,
                                        219,
                                        220,
                                        221,
                                        222,
                                        223,
                                        224,
                                        225,
                                        226,
                                        227,
                                        228,
                                        229,
                                        230,
                                        231,
                                        232,
                                        233,
                                        234,
                                        235,
                                        236,
                                        237,
                                        238,
                                        239,
                                    ],
                                    function: Step,
                                )),
                            ],
                        )),
                        (Spell1, (
                            samplers: [
                                (0, SpriteIndex, (
                                    input: [
                                        0,
                                        0.016666668,
                                        0.033333335,
                                        0.050000004,
                                        0.06666667,
                                        0.083333336,
                                        0.10000001,
                                        0.116666675,
                                        0.13333334,
                                        0.15,
                                        0.16666667,
                                        0.18333334,
                                        0.20000002,
                                        0.21666668,
                                        0.23333335,
                                        0.25,
                                        0.26666668,
                                        0.28333336,
                                        0.3,
                                        0.3166667,
                                        0.33333334,
                                        0.35000002,
                                        0.36666667,
                                        0.38333336,
                                        0.40000004,
                                        0.4166667,
                                        0.43333337,
                                        0.45000002,
                                        0.4666667,
                                        0.48333335,
                                    ],
                                    output: [
                                        84,
                                        85,
                                        86,
                                        87,
                                        88,
                                        89,
                                        90,
                                        91,
                                        92,
                                        93,
                                        94,
                                        95,
                                        96,
                                        97,
                                        98,
                                        99,
                                        100,
                                        101,
                                        102,
                                        103,
                                        104,
                                        105,
                                        106,
                                        107,
                                        108,
                                        109,
                                        110,
                                        111,
                                        112,
                                        113,
                                    ],
                                    function: Step,
                                )),
                            ],
                        )),
                        (Spell2, (
                            samplers: [
                                (0, SpriteIndex, (
                                    input: [
                                        0,
                                        0.016666668,
                                        0.033333335,
                                        0.050000004,
                                        0.06666667,
                                        0.083333336,
                                        0.10000001,
                                        0.116666675,
                                        0.13333334,
                                        0.15,
                                        0.16666667,
                                        0.18333334,
                                        0.20000002,
                                        0.21666668,
                                        0.23333335,
                                        0.25,
                                        0.26666668,
                                        0.28333336,
                                        0.3,
                                        0.3166667,
                                        0.33333334,
                                        0.35000002,
                                        0.36666667,
                                        0.38333336,
                                        0.40000004,
                                        0.4166667,
                                        0.43333337,
                                        0.45000002,
                                        0.4666667,
                                        0.48333335,
                                    ],
                                    output: [
                                        114,
                                        115,
                                        116,
                                        117,
                                        118,
                                        119,
                                        120,
                                        121,
                                        122,
                                        123,
                                        124,
                                        125,
                                        126,
                                        127,
                                        128,
                                        129,
                                        130,
                                        131,
                                        132,
                                        133,
                                        134,
                                        135,
                                        136,
                                        137,
                                        138,
                                        139,
                                        140,
                                        141,
                                        142,
                                        143,
                                    ],
                                    function: Step,
                                )),
                            ],
                        )),
                    ],
                ),
            )),
        ),
        (
            parent: Some(0),
            data: Some((
                name_tag: (
                    name: "mage_legs",
                ),
                sprite_scene: (
                    sheet: None,
                    render: Some((
                        sheet: Some("atlas"),
                        sprite_number: 0,
                    )),
                    transform: Some((
                        translation: (0, 0, -0.1),
                        rotation: (0, 0, 0, 1),
                        scale: (1, 1, 1),
                    )),
                ),
                animation_set: (
                    animations: [
                        (Walk, (
                            samplers: [
                                (0, SpriteIndex, (
                                    input: [
                                        0,
                                        0.016666668,
                                        0.033333335,
                                        0.050000004,
                                        0.06666667,
                                        0.083333336,
                                        0.10000001,
                                        0.116666675,
                                        0.13333334,
                                        0.15,
                                        0.16666667,
                                        0.18333334,
                                        0.20000002,
                                        0.21666668,
                                        0.23333335,
                                        0.25,
                                        0.26666668,
                                        0.28333336,
                                        0.3,
                                        0.3166667,
                                        0.33333334,
                                        0.35000002,
                                        0.36666667,
                                        0.38333336,
                                        0.40000004,
                                        0.4166667,
                                        0.43333337,
                                        0.45000002,
                                        0.4666667,
                                        0.48333335,
                                        0.5,
                                        0.5166667,
                                        0.53333336,
                                        0.55,
                                        0.5666667,
                                        0.5833334,
                                        0.6,
                                        0.6166667,
                                        0.6333334,
                                        0.65000004,
                                        0.6666667,
                                        0.6833334,
                                        0.70000005,
                                        0.7166667,
                                        0.73333335,
                                        0.75000006,
                                        0.7666667,
                                        0.78333336,
                                    ],
                                    output: [
                                        144,
                                        145,
                                        146,
                                        147,
                                        148,
                                        149,
                                        150,
                                        151,
                                        152,
                                        153,
                                        154,
                                        155,
                                        156,
                                        157,
                                        158,
                                        159,
                                        160,
                                        161,
                                        162,
                                        163,
                                        164,
                                        165,
                                        166,
                                        167,
                                        168,
                                        169,
                                        170,
                                        171,
                                        172,
                                        173,
                                        174,
                                        175,
                                        176,
                                        177,
                                        178,
                                        179,
                                        180,
                                        181,
                                        182,
                                        183,
                                        184,
                                        185,
                                        186,
                                        187,
                                        188,
                                        189,
                                        190,
                                        191,
                                    ],
                                    function: Step,
                                )),
                            ],
                        )),
                    ],
                ),
            )),
        ),
    ],
)